.body{
    background-color: green;
}

h3{
    color: green;
}

.board{
    display: flex;
    flex-wrap: nowrap;
}
#card0{
    position: absolute;
}

#card1{
    position: relative;
    left: 35px;
}

#card2{
    position: relative;
    right: 100px;
}

#card3{
    position: relative;
    right: 236px;
}

#card4{
    position: relative;
    right: 372px;
}

#card5{
    position: relative;
    right: 510px;
}

#card6{
    position: relative;
    right: 644px;
}

#card7{
    position: relative;
    right: 780px;
}

#card8{
     position: relative;
     right: 916px;
 }

#card9{
    position: relative;
    right: 1052px;
}

#card10{
    position: relative;
    right: 1188px;
}

#card11{
    position: relative;
    right: 1324px;
}
#card12{
    position: relative;
    right: 1460px;
}

#card13{
    position: relative;
    right: 1596px;
}
#card14{
    position: relative;
    right: 1732px;
}

#card15{
    position: relative;
    right: 1868px;
}

#card16{
    position: relative;
    right: 2004px;
}

#card17{
    position: relative;
    right: 2140px;
}

#card18{
    position: relative;
    right: 2276px;
}

#card19{
    position: relative;
    right: 2412px;
}

#card20{
    position: relative;
    right: 2548px;
}

#card21{
    position: relative;
    right: 2684px;
}

#card22{
    position: relative;
    right: 2820px;
}
